<div class="container mb-5 mt-5 ">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-dark"><img src="https://img.icons8.com/windows/30/000000/easel.png"/> Atualizar Tema <img src="https://img.icons8.com/windows/30/000000/easel.png"/></h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">

      <div class="form-group">
          <label for="descricao">Descrição</label>
            <input type="text" class="form-control" id="descricao" [(ngModel)]='tema.tema'>
        </div>

        <div class="d-flex justify-content-center">
          <button class="btn btn-danger mr-4" routerLink='/tema'>Cancelar</button>
          <button class="btn btn-success" (click)='atualizar()'>Atualizar</button>
        </div>

    </div>
  </div>

</div>
