#img-bg{
  background-image: url('../../assets/imags/1446556.jpg');

  min-height: 685px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cadastroBK{
  background-color: #0F0D01 ;
}

.shadowall{

  text-shadow: #778843 0.2em 0.2em 0.2em
}

.shadowbox{

  box-shadow: #778843 0.2em 0.2em 0.2em ;
}


