.cadastroBK{
  background-color: #0F0D01 ;
}

.iniciopage{
  background-color: #3a3a28;
}


.inicTest{
  background-image: url('https://i.imgur.com/GdYu70E.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
