<div class="container-fluid">
  <div class="row inicTest align-items-center">
    <div class="col-md-6">

      <div class="row d-flex justify-content-center">
          <div class="col-md-6 text-light">
            <h1 class="fs-54">Seja Bem Vinde!</h1>
            <h5 class="fs-18">Vamos falar um pouco sobre arte? <img src="https://img.icons8.com/ios/25/ffffff/art-book.png"/></h5>

          </div>
      </div>

      <div class="row d-flex justify-content-center mt-3 mb-5">
          <div class="col-md-6">
              <button class="btn btn-outline-light mr-2 p-2" data-toggle="modal" data-target="#novaPostagem">Nova Postagem</button>
              <a class="btn btn-outline-light html" href="#postagens">Ver Postagens</a>
          </div>
      </div>

    </div>


</div>

<div class="container mb-5 mt-5" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-link active text-body font-weight-bold" id="nav-todasPostagens-tab" data-toggle="tab" href="#todasPostagens" role="tab" aria-controls="nav-todasPostagens" aria-selected="true">Todas as Postagens</a>

      <a (click)='findByIdUser()' class="nav-link text-body font-weight-bold" id="nav-minhasPostagens-tab" data-toggle="tab" href="#minhasPostagens" role="tab" aria-controls="nav-minhasPostagens" aria-selected="false">Minhas Postagens</a>

      <a class="nav-link text-body font-weight-bold" id="nav-postagemTema-tab" data-toggle="tab" href="#postagemTema" role="tab" aria-controls="nav-postagemTema" aria-selected="false">Postagens por Tema</a>
    </div>
  </nav>

  <div class="tab-content p-2" id="nav-tabContent">
    <div class="tab-pane fade show active" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">


      <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-4">
          <div class="form-group">
              <input type="text" class="form-control" id="titulo" placeholder="Digite um título de postagem para pesquisar" [(ngModel)]='tituloPost' (keyup)='findByTitulo()'>
          </div>
        </div>
      </div>


        <div class="card-columns">
          <div class="card text-center" *ngFor='let postagem of listaPostagens | orderBy: key: reverse' >

          <div class="card-body">
            <h5 class="card-title m-0"><img src="https://img.icons8.com/ios-glyphs/25/000000/edvard-munch.png"/> {{postagem.titulo}} <img src="https://img.icons8.com/ios-glyphs/25/000000/edvard-munch.png"/></h5>
            <small class="text-muted"> Tema: {{postagem.temaRelacionado.tema}}</small>
            <p class="card-text mt-3">{{postagem.texto}}</p>
            <p class="card-text"><small class="text-muted">{{postagem.date | date: 'dd/MM/yyyy'}} às {{postagem.date | date: 'HH:mm'}}</small></p>
            <p class="card-text"><small class="text-muted">Por: {{postagem.criador.nomeUsuario}}</small></p>
          </div>
        </div>
        </div>



    </div>
    <div class="tab-pane fade" id="minhasPostagens" role="tabpanel" aria-labelledby="nav-minhasPostagens-tab">

      <div class="card-columns">
        <div class="card text-center" *ngFor='let postagem of user.minhasPostagens | orderBy: key: reverse'>

        <div class="card-body">
          <h5 class="card-title m-0"><img src="https://img.icons8.com/ios-glyphs/25/000000/edvard-munch.png"/> {{postagem.titulo}} <img src="https://img.icons8.com/ios-glyphs/25/000000/edvard-munch.png"/></h5>
          <small class="text-muted"> Tema: {{postagem.temaRelacionado.tema}}</small>
          <p class="card-text mt-3">{{postagem.texto}}</p>
          <p class="card-text"><small class="text-muted">{{postagem.date | date: 'dd/MM/yyyy'}} às {{postagem.date | date: 'HH:mm'}}</small></p>

          <a class="text-info mr-3" [routerLink]="['/postagem-edit', postagem.id]">Editar</a>
          <a class="text-danger" [routerLink]="['/postagem-delete', postagem.id]">Apagar</a>
        </div>
      </div>
      </div>

    </div>

    <div class="tab-pane fade" id="postagemTema" role="tabpanel" aria-labelledby="nav-postagemTema-tab">

      <div class="row d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-4">
          <div class="form-group">
              <input type="text" class="form-control" id="titulo" placeholder="Digite um tema de postagem para pesquisar" [(ngModel)]='nomeTema' (keyup)='findByNomeTema()'>
          </div>
        </div>
      </div>

      <div class="card-columns" *ngFor='let tema of listaTemas | orderBy: key: reverse'>
        <div class="card text-center" *ngFor='let postagem of tema.postagens'>
        <div class="card-body">
          <h5 class="card-title m-0"><img src="https://img.icons8.com/ios-glyphs/25/000000/edvard-munch.png"/> {{postagem.titulo}} <img src="https://img.icons8.com/ios-glyphs/25/000000/edvard-munch.png"/></h5>
          <p class="card-text mt-3">{{tema.tema}}</p>
          <p class="card-text"><small class="text-muted">{{postagem.date | date: 'dd/MM/yyyy'}} às {{postagem.date | date: 'HH:mm'}}</small></p>
          <p class="card-text"><small class="text-muted">Por: {{postagem.criador.nomeUsuario}}</small></p>
        </div>
      </div>
      </div>

    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="novaPostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo" placeholder="Digite seu título">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea [(ngModel)]="postagem.texto" class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">crie um novo</a>: </label>
          <select [(ngModel)]="idTema" class="form-control" name="tema" id="tema" (change)='findByIdTema()'><option *ngFor='let tema of listaTemas' value="{{tema.idTema}}">{{tema.tema}}</option></select>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal">Publicar</button>
      </div>
    </div>
  </div>
</div>
