.cadastroBK{
  background-color: #0F0D01 ;
}

.iniciopage{
  background-color: #dfcaa0;
}

.backTema{
  background-image: url('https://i.imgur.com/WhyxuRc.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
