<div class="container-fluid logincolor">

    <div class="row d-flex align-items-center">

        <div class="col-md-6">

            <div class="row d-flex justify-content-center">

                <div class="col-md-6">

                    <h1 class=" text-center mb-3 text-white">Login <img src="https://img.icons8.com/ios-filled/40/ffffff/dali.png"/></h1>
                    <div class="form-group">
                        <label class="text-light" for="usuario"> E-mail </label>
                        <input [(ngModel)]='userLogin.email' class="form-control shadowbox" type="email" name="usuario" id="usuario" placeholder="Seu e-mail">
                    </div>

                    <div class="form-group">
                        <label class="text-light" for="senha"> Senha</label>
                        <input [(ngModel)]='userLogin.senha' class="form-control shadowbox" type="password" name="senha" id="senha" placeholder="Sua senha">
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-success" (click)='entrar()'>Entrar</button>
                    </div>


                    <p class="text-center text-light mt-3" >
                        Não tem uma conta? <a  routerLink='/cadastrar'  >Cadastre-se</a>
                    </p>

                </div>
            </div>

        </div>

        <div class="col-md-6 img-fluid" id="img-bg">


        </div>
    </div>
</div>
